<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cookCss.css}">
    <title th:text="${id != null} ? ${'Edit Food'} : ${'Add Food'}"></title>
</head>
<body>

    <h1 th:text="${id != null} ? ${'Edit Food'} : ${'Add Food'}"></h1>


    <form th:action="${id != null} ? @{/recipes/update} : @{/recipes/add}" th:object="${food}" method="post">
        <input type="hidden" th:field="${food.id}" />
        <div>
            <label th:for="${food.name}">Name: </label>
            <input type="text" th:field="${food.name}"/>
        </div>
        <div>
            <label th:for="${food.ingredients}">Ingredients: </label>
            <textarea th:field="${food.ingredients}"/></textarea>
        </div>
        <div>
            <label th:for="${food.preparation}">Preparation: </label>
            <textarea th:field="${food.preparation}"/></textarea>
        </div>
        <div>
            <label th:for="${food.prep_time}">Preparation Time: </label>
            <input type="number" th:field="${food.prep_time}"/>
        </div>
        <div>
            <label th:for="${food.servings}">Servings: </label>
            <input type="number" th:field="${food.servings}"/>
        </div>
        <button type="submit">Save</button>

    </form>
</body>
</html>