<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cookCss.css}">
    <title>Recipes</title>
</head>
<body>
    <h1>List of foods</h1>
    <form th:action="@{/recipes/filter}" method="get">
        <input type="text" name="name" placeholder="Search here...">
        <button type="submit">Search</button>
    </form>

    <a th:href="@{/recipes/new}">Add New Food</a>

    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
            <th>Ingredients</th>
            <th>Preparation</th>
            <th>Preparation Time</th>
            <th>Servings</th>
            <th>Options</th>
        </thead>

        <tbody th:if="${!foods.isEmpty()}" th:each="food: ${foods}">
            <tr>
                <td th:text="${food.id}"></td>
                <td th:text="${food.name}"></td>
                <td th:text="${food.ingredients}"></td>
                <td th:text="${food.preparation}"></td>
                <td th:text="${food.prep_time}"></td>
                <td th:text="${food.servings}"></td>
                <td><a th:href="@{/recipes/edit/{id}(id=${food.id})}">Edit</a> <a th:href="@{/recipes/detail/{id}(id=${food.id})}">Detail</a></td>
            </tr>
        </tbody>
        <tbody th:if="${foods.isEmpty()}">
            <tr>
                <td colspan="5" style="text-align: center;">There is no data in this table. :c</td>
            </tr>
        </tbody>

    </table>
</body>
</html>